{% extends 'base.html' %}
{% load static %}

{% block titulo %}Proyectos{% endblock %}{% block subtitulo %} - {{claveProyectoSeleccionado}}{% endblock %}

{% block proyectos %}
<div class="border-end bg-white" id="sidebar-wrapper">
    <div class="sidebar-heading border-bottom bg-light">Proyectos</div>
    <div class="list-group list-group-flush">
        {% for p in proyectos %}
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'proyectos' %}{{p.Clave}}">{{p.Titulo}}</a>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block contenido %}
{% comment %} <div class="container-fluid">
    <div class="list-group">
    {% for tarea in tareas %}
        <a href="#" class="list-group-item list-group-item-action" aria-current="true">
            <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{tarea.Titulo}}</h5>
            <small>{{tarea.Estado.Titulo}}</small>
            </div>
            <small>{{tarea.Contenido}}</small>
        </a>
    {% endfor %}
    </div>
</div> {% endcomment %}
<form action="" method="post">
    {% csrf_token %}
    <p>Titulo: <input type="text" name="titulo" id="" maxlength="50"></p>
    <p>Contenido: <textarea name="contenido" cols="40" rows="5" maxlength="8000"></textarea></p>
    <input type="submit" value="Crear Tarea">
</form>
{% endblock %}