{% extends 'base.html' %}
{% load static %}

{% block titulo %}Estados{% endblock %}

{% block contenido %}
<div class="container-fluid">
    <div class="list-group">
    {% for estado in estados %}
        <a href="#" class="list-group-item list-group-item-secondary" aria-current="true">
            <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{estado.Titulo}}</h5>
            </div>
            <small>{% if estado.PorDefecto == 1 %} (Por defecto) {% endif %}</small>
        </a>
    {% endfor %}
    <a href="{% url 'crearEstados' %}" class="list-group-item list-group-item-light" aria-current="true">
        <small>--- Nuevo Estado ---</small>
    </a>
    </div>
</div>
{% endblock %}