{% extends 'base.html' %}
{% load static %}

{% block titulo %}Proyectos{% endblock %}

{% block proyectos %}
<div class="border-end bg-white" id="sidebar-wrapper">
    <div class="sidebar-heading border-bottom bg-light">Proyectos</div>
    <div class="list-group list-group-flush">
        {% for p in proyectos %}
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'proyectos' %}{{p.Clave}}">{{p.Titulo}}</a>
        {% endfor %}
    </div>
</div>
{% endblock %}