{% extends 'base.html' %}
{% load static %}

{% block titulo %}Proyectos{% endblock %}{% block subtitulo %} - {{claveProyectoSeleccionado}}{% endblock %}

{% block proyectos %}
<div class="border-end bg-white" id="sidebar-wrapper">
    <div class="sidebar-heading border-bottom bg-light">Proyectos</div>
    <div class="list-group list-group-flush">
        {% for p in proyectos %}
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'proyectos' %}{{p.Clave}}">{{p.Titulo}}</a>
        {% endfor %}
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'crearProyectos' %}">--- Nuevo proyecto ---</a>
    </div>
</div>
{% endblock %}

{% block contenido %}
<div class="container-fluid">
    <div class="list-group">
    {% for tarea in tareas %}
        <a href="#" class="list-group-item list-group-item-action" aria-current="true">
            <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{tarea.Titulo}}</h5>
            <small>{{tarea.Estado.Titulo}}</small>
            </div>
            <small>{{tarea.Contenido}}</small>
        </a>
    {% endfor %}
    <a href="{% url 'proyectos' %}{{claveProyectoSeleccionado}}/creartarea" class="list-group-item list-group-item-action" aria-current="true">
        <small>--- Nueva Tarea ---</small>
    </a>
    </div>
</div>
{% endblock %}